*{
    margin: 0;
    padding: 0;
    outline: none !important;
    /* font-family: 'Quicksand', sans-serif !important; */
    font-family: 'Raleway', sans-serif !important;
}

.progress-container {
    width: 100%;
    height: 8px;
    background: none;
    position: fixed;
    top: 0;
    z-index: 800;
    /* transition: ease-in-out; */
}
  
.progress-bar {
    height: 8px;
    background: #e21313;
    width: 0%;
    border-radius: 0px 50px 50px 0px;
}

svg{
    font-family: 'Raleway', sans-serif !important;
}

body{
    background-color: #000;
    color: #FFFFFF;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    position: relative;
    height: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

body::-webkit-scrollbar {
    display: none !important;
}

.textShadow{
    color: #707070;
    text-shadow: 0px 1px #70707050;
}

.ascentBtnAbout,
.meterAbout,
.descentBtnAbout,
.descentBtnSkills,
.descentBtnProjects{
    cursor: pointer;
}

.letterSpacing{
    letter-spacing: 1pt;
}

.padding-bottom{
    padding-bottom: 20px;
}

.bottomBtnContainer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10vh;
    margin: 0 auto;
    text-align: center;
}

.bottomButton{
    color: #DDDDDD;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
    opacity: 0;
    margin: auto 5px auto 5px;
}

.bottomButton:hover{
    background-color: #DDDDDD;
    color: #222222;
    opacity: 1 !important;
}

.grid-container{
    width: 65vw;
}

.middle{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* --------------- welcomeContainer --------------- */

.welcomeContainer{
    width: 100vw;
    height: 100vh;
    background-color: #131922;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcomeText1, .welcomeText2{
    transition: 1s;
    opacity: 0;
}

/* --------------- reachedTopContainer --------------- */
.reachedTopContainer{
    width: 100vw;
    height: 10vh;
    background-color: #13192299;
    position: fixed;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    opacity: 0;
}

.surfaceContainerText{
    transition: 0.5s;
}


/* --------------- loadingContainer --------------- */
.loadingContainer{
    width: 100vw;
    height: 100vh;
    background-color: #131922;
    position: fixed;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    opacity: 0;
}

.loadingText{
    transition: 0.5s;
}

/* --------------- keyboardHint --------------- */
.keyboardHint{
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    color: #000000;
    position: fixed;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    opacity: 0;
}

.keyboard{
    min-height: 200px;
    max-height: 300px;
    transition: 0.5s;
}

.escBlink{
    padding-top: 20px;
    height: 20px;
}

/* --------------- factsContainer --------------- */

.facts{
    width: 100vw;
    height: 100vh;
    background: #000000;
    position: fixed;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    opacity: 0;
}

.factsImgs{
    min-width: 300px;
    max-width: 500px;
    height: 350px;
    margin: auto;
    margin-bottom: 15px;
}

.factContainer{
    width: 80vw;
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 35px;
    border-radius: 5px;
}

.factContainer p{
    text-align: justify;
    margin-top: 20px;
}

.factContainer a{
    width: 70vw;
    text-align: left;
}

.escBlink{
    margin-top: 20px;
    text-align: center;
}

/* --------------- depthMeter --------------- */
.depthMeter{
    /* width: 5vw; */
    height: 60vh;
    position: fixed;
    z-index: 300;
    bottom: 0;
    top: 0;
    margin: auto 0;
    left: 0.5vw;
    opacity: 0;
}

/* --------------- submarine --------------- */

.subMarine{
    height: 60px;
    position: fixed;
    z-index: 300;
    bottom: 10vh;
    left: 6vw;
    opacity: 0;
}

/* --------------- heropage --------------- */

.heroPage{
    height: 100vh;
    width: 100vw;
    background: #000000;
    color: #FFFFFF;
    background-image: url(../images/heroPage.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
}

.airSpace{
    position: absolute;
    width: 100vw;
    top: 5vh;
    z-index: 0;
}

.plane{
    min-height: 40px;
    max-height: 60px;
    z-index: 0 !important;
}

.cloud1{
    height: 150px;
    z-index: 100 !important;
}

.cloud2{
    height: 150px;
    z-index: 200 !important;
}
.cloud1{
    height: 150px;
    z-index: 100 !important;
}

.ship1{
    position: absolute;
    height: 100px;
    bottom: 26vh;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.heroContent{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#animation_container{
    height: 100vh !important;
}

.diveButton{
    width: 150px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5vh;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #DDDDDD;
    padding: 10px;
    color: #DDDDDD;
    cursor: pointer;
    opacity: 0;
}

.diveButton:hover{
    color: #222222;
    background-color: #DDDDDD;
    opacity: 1 !important;
}

/* --------------- aboutpage --------------- */

.aboutPage{
    height: 100vh;
    width: 100vw;
    background: #000000;
    color: #FFFFFF;
    background-image: url(../images/aboutPage.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
}

.about{
    display: none;
    opacity: 0;
}

.fish1About{
    height: 50px;
    position: relative;
    top: 40vh;
}

.fish2About{
    height: 30px;
    position: relative;
    top: 50vh;
}

.fish3About{
    height: 40px;
    position: relative;
    top: 30vh;
}

.fish4About{
    height: 50px;
    position: relative;
    top: 20vh;
}

.fish5About{
    height: 45px;
    position: relative;
    top: 35vh;
}

.aboutHead{
    opacity: 0;
    text-align: center;
    margin: 0px auto 20px auto;
    z-index: 150;
}

.aboutContent{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 150;
}

.aboutContainer{
    /* width: 70vw; */
    height: 50vh;
    position: relative;
    top: 10vh;
}

.dhruvilImage{
    max-height: 300px;
    margin-bottom: 30px;
    border-radius: 10px;
    opacity: 0;
    z-index: 150;
}

.aboutSub{
    text-align: justify;
    /* margin-top: 10px; */
    opacity: 0;
    z-index: 150;
}

/* --------------- skillsPage --------------- */

.skillsPage{
    height: 100vh;
    width: 100vw;
    position: relative;
    background: #000000;
    color: #FFFFFF;
    background-image: url(../images/skillsPage.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.skillsHead{
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 20px;
}

.iconsContainer{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto 60px auto;
}

.skills{
    opacity: 0;
}

.skillsBtns{
    display: none;
    opacity: 0;
}

.skillIcons{
    min-height: 30px;
    max-height: 45px;
}

.jellyFish1{
    height: 70px;
    display: inline-block;
    position: absolute;
    bottom: 50vh;
    right: 4vw;
    opacity: 0.7;
}

.jellyFish2{
    height: 50px;
    display: inline-block;
    position: absolute;
    bottom: 10vh;
    left: 8vw;
    opacity: 0.3;
}

.jellyFish3{
    height: 40px;
    display: inline-block;
    position: absolute;
    bottom: 75vh;
    left: 5vw;
    opacity: 0.2;
}

/* --------------- projectPage --------------- */

.projectPage{
    height: 100vh;
    width: 100vw;
    position: relative;
    background: #000000;
    color: #FFFFFF;
    background-image: url(../images/projectPage.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.projectHead{
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 20px;   
}

.shark1{
    height: 80px;
    display: inline-block;
    position: absolute;
    bottom: 36vh;
    right: -15vw;
    opacity: 0.6;
    z-index: 0;

}

.shark2{
    height: 40px;
    display: inline-block;
    position: absolute;
    bottom: 47vh;
    right: -10vw;
    opacity: 0.6;
    z-index: 0;
}

.nukeBlueprint{
    height: 200px;
    z-index: 200;
    margin: 20px auto 20px auto;
    cursor: pointer;
}

.project{
    opacity: 0;
}

/* --------------- contactPage --------------- */

.contactPage{
    height: 100vh;
    width: 100vw;
    position: relative;
    background: #131922;
    color: #FFFFFF;
    /* background-image: url(../images/projectPage.svg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.contactHead{
    text-align: center;
    position: relative;
    top: 10vh;
}

.contactContainer{
    position: relative;
    top: 20vh;
}

.contactIcons{
    min-height: 20px;
    max-height: 35px;
    cursor: pointer;
}

.footerContainer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40vh;
    margin: 0 auto;
    text-align: center;
}

.contactBtn{
    color: #DDDDDD;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
    opacity: 0;
    margin: auto 5px auto 5px;
}

.contactBtn:hover{
    background-color: #DDDDDD;
    color: #222222;
    opacity: 1 !important;
}

.copyright{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 5vh;
    text-align: center;
    font-size: 10pt;
}


/* ipad, ipad mini */
@media screen and (min-width: 768px) and (max-width: 833px) {

    
    /* --------------- depthMeter --------------- */
    .depthMeter{
        /* width: 5vw; */
        height: 55vh;
        position: fixed;
        z-index: 300;
        bottom: 0;
        top: 0;
        margin: auto 0;
        left: 0.5vw;
        opacity: 0;
    }

    /* --------------- submarine --------------- */

    .subMarine{
        height: 50px;
        position: fixed;
        z-index: 300;
        bottom: 10vh;
        left: 6vw;
        opacity: 0;
    }

    /* --------------- heropage --------------- */

    .heroPage{
        height: 100vh;
        width: 100vw;
        background: #000000;
        color: #FFFFFF;
        background-image: url(../images/heroPage.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        position: relative;
    }

    .airSpace{
        position: absolute;
        width: 100vw;
        top: 5vh;
        z-index: 0;
    }

    .plane{
        min-height: 30px;
        max-height: 50px;
        z-index: 0 !important;
        position: absolute;
        top: -3vh;
    }

    .cloud1{
        height: 100px;
        z-index: 100 !important;
        transform: translateY(50px);
    }

    .cloud2{
        height: 100px;
        z-index: 200 !important;
        transform: translateY(50px);
    }

    .ship1{
        position: absolute;
        height: 100px;
        bottom: 20vh;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .heroContent{
        width: 100vw;
        height: 100vh;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }

    #animation_container{
        height: 100vh !important;
    }

    .diveButton{
        width: 150px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 5vh;
        margin: 0 auto;
        text-align: center;
        border: 1px solid #DDDDDD;
        padding: 10px;
        color: #DDDDDD;
        cursor: pointer;
        opacity: 0;
    }

    .diveButton:hover{
        color: #222222;
        background-color: #DDDDDD;
        opacity: 1 !important;
    }

    /* --------------- projectPage --------------- */

    .projectPage{
        height: 100vh;
        width: 100vw;
        position: relative;
        background: #000000;
        color: #FFFFFF;
        background-image: url(../images/projectPage.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .projectHead{
        text-align: center;
        padding-top: 5vh;
        padding-bottom: 20px;   
    }

    .shark1{
        height: 80px;
        display: inline-block;
        position: absolute;
        bottom: 36vh;
        right: -15vw;
        opacity: 0.6;
        z-index: 0;

    }

    .shark2{
        height: 40px;
        display: inline-block;
        position: absolute;
        bottom: 47vh;
        right: -10vw;
        opacity: 0.6;
        z-index: 0;
    }

    .nukeBlueprint{
        min-height: 100px;
        max-height: 150px;
        z-index: 200;
        margin: 20px auto 20px auto !important;
        cursor: pointer;
    }

    .project{
        opacity: 0;
    }

    /* --------------- contactPage --------------- */

    .contactPage{
        height: 100vh;
        width: 100vw;
        position: relative;
        background: #131922;
        color: #FFFFFF;
        /* background-image: url(../images/projectPage.svg); */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .contactHead{
        text-align: center;
        position: relative;
        top: 10vh;
    }

    .contactContainer{
        position: relative;
        top: 20vh;
    }

    .contactIcons{
        min-height: 20px;
        max-height: 35px;
        cursor: pointer;
    }

    .footerContainer{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 25vh;
        margin: 0 auto;
        text-align: center;
    }

    .contactBtn{
        color: #DDDDDD;
        border: 1px solid #DDDDDD;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        transition: 0.2s;
        opacity: 0;
        margin: auto 5px auto 5px;
    }

    .contactBtn:hover{
        background-color: #DDDDDD;
        color: #222222;
        opacity: 1 !important;
    }

    .copyright{
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 15vh;
        text-align: center;
        font-size: 12pt !important;

    }
}

/* ipad pro*/
@media screen and (min-width: 834px) and (max-width: 1025px) {

    
    /* --------------- depthMeter --------------- */
    .depthMeter{
        /* width: 5vw; */
        height: 55vh;
        position: fixed;
        z-index: 300;
        bottom: 0;
        top: 0;
        margin: auto 0;
        left: 0.5vw;
        opacity: 0;
    }

    /* --------------- submarine --------------- */

    .subMarine{
        height: 50px;
        position: fixed;
        z-index: 300;
        bottom: 10vh;
        left: 6vw;
        opacity: 0;
    }

    /* --------------- heropage --------------- */

    .heroPage{
        height: 100vh;
        width: 100vw;
        background: #000000;
        color: #FFFFFF;
        background-image: url(../images/heroPage.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        position: relative;
    }

    .airSpace{
        position: absolute;
        width: 100vw;
        top: 5vh;
        z-index: 0;
    }

    .plane{
        min-height: 30px;
        max-height: 50px;
        z-index: 0 !important;
        position: absolute;
        top: 1vh;
    }

    .cloud1{
        height: 100px;
        z-index: 100 !important;
        transform: translateY(50px);
    }

    .cloud2{
        height: 100px;
        z-index: 200 !important;
        transform: translateY(50px);
    }

    .ship1{
        position: absolute;
        height: 100px;
        bottom: 35vh;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .heroContent{
        width: 100vw;
        height: 100vh;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }

    #animation_container{
        height: 100vh !important;
    }

    .diveButton{
        width: 150px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 5vh;
        margin: 0 auto;
        text-align: center;
        border: 1px solid #DDDDDD;
        padding: 10px;
        color: #DDDDDD;
        cursor: pointer;
        opacity: 0;
    }

    .diveButton:hover{
        color: #222222;
        background-color: #DDDDDD;
        opacity: 1 !important;
    }

    /* --------------- projectPage --------------- */

    .projectPage{
        height: 100vh;
        width: 100vw;
        position: relative;
        background: #000000;
        color: #FFFFFF;
        background-image: url(../images/projectPage.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .projectHead{
        text-align: center;
        padding-top: 5vh;
        padding-bottom: 20px;   
    }

    .shark1{
        height: 80px;
        display: inline-block;
        position: absolute;
        bottom: 36vh;
        right: -15vw;
        opacity: 0.6;
        z-index: 0;

    }

    .shark2{
        height: 40px;
        display: inline-block;
        position: absolute;
        bottom: 47vh;
        right: -10vw;
        opacity: 0.6;
        z-index: 0;
    }

    .nukeBlueprint{
        min-height: 100px;
        max-height: 150px;
        z-index: 200;
        margin: 20px auto 20px auto !important;
        cursor: pointer;
    }

    .project{
        opacity: 0;
    }

    /* --------------- contactPage --------------- */

    .contactPage{
        height: 100vh;
        width: 100vw;
        position: relative;
        background: #131922;
        color: #FFFFFF;
        /* background-image: url(../images/projectPage.svg); */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .contactHead{
        text-align: center;
        position: relative;
        top: 10vh;
    }

    .contactContainer{
        position: relative;
        top: 20vh;
    }

    .contactIcons{
        min-height: 20px;
        max-height: 35px;
        cursor: pointer;
    }

    .footerContainer{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 25vh;
        margin: 0 auto;
        text-align: center;
    }

    .contactBtn{
        color: #DDDDDD;
        border: 1px solid #DDDDDD;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        transition: 0.2s;
        opacity: 0;
        margin: auto 5px auto 5px;
    }

    .contactBtn:hover{
        background-color: #DDDDDD;
        color: #222222;
        opacity: 1 !important;
    }

    .copyright{
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 15vh;
        text-align: center;
        font-size: 12pt !important;

    }
}


/* iPhone 6,7,8,X */
@media screen and (min-width: 375px) and (max-width: 768px) {

    .progress-container {
        width: 100%;
        height: 5px;
        background: none;
        position: fixed;
        top: 0;
        z-index: 800;
        /* transition: ease-in-out; */
    }
      
    .progress-bar {
        height: 5px;
        background: #e21313;
        width: 0%;
        border-radius: 0px 50px 50px 0px;
    }

    .textShadow{
        color: #707070;
        text-shadow: 0px 0.5px #70707050;
    }

    .bottomBtnContainer{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 18vh;
        margin: 0 auto;
        text-align: center;
    }
    
    .bottomButton{
        color: #DDDDDD;
        border: 1px solid #DDDDDD;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        transition: 0.2s;
        opacity: 0;
        margin: auto 5px auto 5px;
    }
    
    .bottomButton:hover{
        background-color: #DDDDDD;
        color: #222222;
        opacity: 1 !important;
    }

    .grid-container{
        width: 90vw;
    }

   /* --------------- welcomeContainer --------------- */

   .welcomeContainer{
        width: 100vw;
        height: 100vh;
        background-color: #131922;
        position: fixed;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .welcomeText1, .welcomeText2{
        transition: 1s;
        opacity: 0;
        font-size: 10pt;
    }

    /* --------------- submarine --------------- */

    .subMarine{
        height: 25px;
        position: fixed;
        z-index: 300;
        bottom: 15vh;
        left: 2vw;
        opacity: 0;
    }

    /* --------------- heropage --------------- */

    .heroPage{
        height: 100vh;
        width: 100vw;
        background: #000000;
        color: #FFFFFF;
        background-image: url(../images/heroPage.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        position: relative;
    }

    .airSpace{
        position: absolute;
        width: 100vw;
        top: 5vh;
        z-index: 0;
    }

    .plane{
        min-height: 25px;
        max-height: 35px;
        z-index: 0 !important;
        transform: translateY(50px);
    }

    .cloud1{
        height: 75px;
        z-index: 100 !important;
    }

    .cloud2{
        height: 75px;
        z-index: 200 !important;
    }

    .ship1{
        position: absolute;
        height: 50px;
        bottom: 38vh;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .heroContent{
        width: 100vw;
        height: 100vh;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }

    #animation_container{
        height: 100vh !important;
    }

    .diveButton{
        width: 100px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 15vh;
        margin: 0 auto;
        text-align: center;
        border: 1px solid #DDDDDD;
        padding: 10px;
        color: #DDDDDD;
        cursor: pointer;
        opacity: 0;
        font-size: 10pt;
    }

    .diveButton:hover{
        color: #222222;
        background-color: #DDDDDD;
        opacity: 1 !important;
    }

    /* --------------- aboutpage --------------- */

    .aboutPage{
        height: 100vh;
        width: 100vw;
        background: #000000;
        color: #FFFFFF;
        background-image: url(../images/aboutPage.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        position: relative;
    }

    .about{
        display: none;
        opacity: 0;
    }

    .fish1About{
        height: 20px;
        position: absolute;
        top: 40vh;
        left: 10vw;
    }

    .fish2About{
        height: 22px;
        position: absolute;
        top: 45vh;
        left: 20vw;
    }

    .fish3About{
        height: 25px;
        position: absolute;
        top: 30vh;
        left: 15vw;
    }

    .fish4About{
        height: 22px;
        position: absolute;
        top: 25vh;
        left: 30vw;
    }

    .fish5About{
        height: 28px;
        position: absolute;
        top: 35vh;
        left: 25vw;
    }

    .aboutHead{
        opacity: 0;
        text-align: center;
        margin: 0px auto 0px auto;
        z-index: 150;
        top: 5vh !important;
        position: relative;
    }

    .aboutContent{
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        z-index: 150;
    }

    .aboutContainer{
        /* width: 70vw; */
        height: 50vh;
        position: relative;
        top: 5vh;
    }

    .dhruvilImage{
        min-height: 100px;
        max-height: 150px;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 10px;
        opacity: 0;
        z-index: 150;
    }

    .aboutSub{
        text-align: justify;
        font-size: 11pt;
        opacity: 0;
        z-index: 150;
    }

    /* --------------- skillsPage --------------- */

    .skillsPage{
        height: 100vh;
        width: 100vw;
        position: relative;
        background: #000000;
        color: #FFFFFF;
        background-image: url(../images/skillsPage.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .skillsHead{
        text-align: center;
        padding-top: 5vh;
        padding-bottom: 20px;
    }

    .iconsContainer{
        width: 50vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px auto 60px auto;
    }

    .skills{
        opacity: 0;
    }

    .skillsBtns{
        display: none;
        opacity: 0;
    }

    .skillIcons{
        min-height: 15px;
        max-height: 20px;
    }

    .jellyFish1{
        height: 50px;
        display: inline-block;
        position: absolute;
        bottom: 50vh;
        right: 4vw;
        opacity: 0.7;
    }

    .jellyFish2{
        height: 40px;
        display: inline-block;
        position: absolute;
        bottom: 10vh;
        left: 8vw;
        opacity: 0.3;
    }

    .jellyFish3{
        height: 30px;
        display: inline-block;
        position: absolute;
        bottom: 75vh;
        left: 5vw;
        opacity: 0.2;
    }

    /* --------------- projectPage --------------- */

    .projectPage{
        height: 100vh;
        width: 100vw;
        position: relative;
        background: #000000;
        color: #FFFFFF;
        background-image: url(../images/projectPage.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .projectHead{
        text-align: center;
        padding-top: 5vh;
        padding-bottom: 20px;   
    }

    .shark1{
        height: 40px;
        display: inline-block;
        position: absolute;
        bottom: 40vh;
        right: -25vw;
        opacity: 0.6;
        z-index: 0;

    }

    .shark2{
        height: 20px;
        display: inline-block;
        position: absolute;
        bottom: 47vh;
        right: -15vw;
        opacity: 0.6;
        z-index: 0;
    }

    .nukeBlueprint{
        height: 200px;
        z-index: 200;
        margin: 10px auto 10px auto;
        cursor: pointer;
    }

    .project{
        opacity: 0;
    }

    /* --------------- contactPage --------------- */

    .contactPage{
        height: 100vh;
        width: 100vw;
        position: relative;
        background: #131922;
        color: #FFFFFF;
        /* background-image: url(../images/projectPage.svg); */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .contactHead{
        text-align: center;
        position: relative;
        top: 10vh;
    }

    .contactContainer{
        position: relative;
        top: 20vh;
    }

    .contactIcons{
        min-height: 20px;
        max-height: 35px;
        cursor: pointer;
    }

    .footerContainer{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 25vh;
        margin: 0 auto;
        text-align: center;
    }

    .contactBtn{
        color: #DDDDDD;
        border: 1px solid #DDDDDD;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        transition: 0.2s;
        opacity: 0;
        margin: auto 5px auto 5px;
    }

    .contactBtn:hover{
        background-color: #DDDDDD;
        color: #222222;
        opacity: 1 !important;
    }

    .copyright{
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 15vh;
        text-align: center;
        font-size: 8pt;

    }
}

/* iphone 5 */
@media screen and (min-width: 320px) and (max-width: 374px) {

    .progress-container {
        width: 100%;
        height: 5px;
        background: none;
        position: fixed;
        top: 0;
        z-index: 800;
        /* transition: ease-in-out; */
    }
      
    .progress-bar {
        height: 5px;
        background: #e21313;
        width: 0%;
        border-radius: 0px 50px 50px 0px;
    }
    
    .textShadow{
        color: #707070;
        text-shadow: 0px 0.5px #70707050;
    }

    .bottomBtnContainer{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 18vh;
        margin: 0 auto;
        text-align: center;
    }
    
    .bottomButton{
        color: #DDDDDD;
        border: 1px solid #DDDDDD;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        transition: 0.2s;
        opacity: 0;
        margin: auto 5px auto 5px;
    }
    
    .bottomButton:hover{
        background-color: #DDDDDD;
        color: #222222;
        opacity: 1 !important;
    }

    .grid-container{
        width: 90vw;
    }

   /* --------------- welcomeContainer --------------- */

   .welcomeContainer{
        width: 100vw;
        height: 100vh;
        background-color: #131922;
        position: fixed;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .welcomeText1, .welcomeText2{
        transition: 1s;
        opacity: 0;
        font-size: 10pt;
    }

    /* --------------- submarine --------------- */

    .subMarine{
        height: 25px;
        position: fixed;
        z-index: 300;
        bottom: 15vh;
        left: 2vw;
        opacity: 0;
    }

    /* --------------- heropage --------------- */

    .heroPage{
        height: 100vh;
        width: 100vw;
        background: #000000;
        color: #FFFFFF;
        background-image: url(../images/heroPage.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        position: relative;
    }

    .airSpace{
        position: absolute;
        width: 100vw;
        top: 5vh;
        z-index: 0;
    }

    .plane{
        min-height: 20px;
        max-height: 30px;
        z-index: 0 !important;
        position: absolute;
        top: -10px;
    }

    .cloud1{
        height: 70px;
        z-index: 100 !important;
    }

    .cloud2{
        height: 70px;
        z-index: 200 !important;
    }

    .ship1{
        position: absolute;
        height: 40px;
        bottom: 38vh;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .heroContent{
        width: 100vw;
        height: 100vh;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }

    #animation_container{
        height: 100vh !important;
    }

    .diveButton{
        width: 100px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 15vh;
        margin: 0 auto;
        text-align: center;
        border: 1px solid #DDDDDD;
        padding: 10px;
        color: #DDDDDD;
        cursor: pointer;
        opacity: 0;
        font-size: 10pt;
    }

    .diveButton:hover{
        color: #222222;
        background-color: #DDDDDD;
        opacity: 1 !important;
    }

    /* --------------- aboutpage --------------- */

    .aboutPage{
        height: 100vh;
        width: 100vw;
        background: #000000;
        color: #FFFFFF;
        background-image: url(../images/aboutPage.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        position: relative;
    }

    .about{
        display: none;
        opacity: 0;
    }

    .fish1About{
        height: 20px;
        position: absolute;
        top: 40vh;
        left: 10vw;
    }

    .fish2About{
        height: 22px;
        position: absolute;
        top: 45vh;
        left: 20vw;
    }

    .fish3About{
        height: 25px;
        position: absolute;
        top: 30vh;
        left: 15vw;
    }

    .fish4About{
        height: 22px;
        position: absolute;
        top: 25vh;
        left: 30vw;
    }

    .fish5About{
        height: 28px;
        position: absolute;
        top: 35vh;
        left: 25vw;
    }

    .aboutHead{
        opacity: 0;
        text-align: center;
        margin: 0px auto 0px auto;
        z-index: 150;
        top: 5vh !important;
        position: relative;
    }

    .aboutContent{
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        z-index: 150;
    }

    .aboutContainer{
        /* width: 70vw; */
        height: 50vh;
        position: relative;
        top: 5vh;
    }

    .dhruvilImage{
        min-height: 80px;
        max-height: 120px;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 10px;
        opacity: 0;
        z-index: 150;
    }

    .aboutSub{
        text-align: justify;
        font-size: 10pt;
        opacity: 0;
        z-index: 150;
    }

    /* --------------- skillsPage --------------- */

    .skillsPage{
        height: 100vh;
        width: 100vw;
        position: relative;
        background: #000000;
        color: #FFFFFF;
        background-image: url(../images/skillsPage.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .skillsHead{
        text-align: center;
        padding-top: 5vh;
        padding-bottom: 20px;
    }

    .iconsContainer{
        width: 50vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px auto 60px auto;
    }

    .skills{
        opacity: 0;
    }

    .skillsBtns{
        display: none;
        opacity: 0;
    }

    .skillIcons{
        min-height: 15px;
        max-height: 20px;
    }

    .jellyFish1{
        height: 50px;
        display: inline-block;
        position: absolute;
        bottom: 50vh;
        right: 4vw;
        opacity: 0.7;
    }

    .jellyFish2{
        height: 40px;
        display: inline-block;
        position: absolute;
        bottom: 10vh;
        left: 8vw;
        opacity: 0.3;
    }

    .jellyFish3{
        height: 30px;
        display: inline-block;
        position: absolute;
        bottom: 75vh;
        left: 5vw;
        opacity: 0.2;
    }

    /* --------------- projectPage --------------- */

    .projectPage{
        height: 100vh;
        width: 100vw;
        position: relative;
        background: #000000;
        color: #FFFFFF;
        background-image: url(../images/projectPage.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .projectHead{
        text-align: center;
        padding-top: 5vh;
        padding-bottom: 20px;   
    }

    .shark1{
        height: 40px;
        display: inline-block;
        position: absolute;
        bottom: 40vh;
        right: -25vw;
        opacity: 0.6;
        z-index: 0;

    }

    .shark2{
        height: 20px;
        display: inline-block;
        position: absolute;
        bottom: 47vh;
        right: -15vw;
        opacity: 0.6;
        z-index: 0;
    }

    .nukeBlueprint{
        height: 200px;
        z-index: 200;
        margin: 10px auto 10px auto;
        cursor: pointer;
    }

    .project{
        opacity: 0;
    }

    /* --------------- contactPage --------------- */

    .contactPage{
        height: 100vh;
        width: 100vw;
        position: relative;
        background: #131922;
        color: #FFFFFF;
        /* background-image: url(../images/projectPage.svg); */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .contactHead{
        text-align: center;
        position: relative;
        top: 10vh;
    }

    .contactContainer{
        position: relative;
        top: 15vh;
    }

    .contactIcons{
        min-height: 10px;
        max-height: 25px;
        cursor: pointer;
    }

    .footerContainer{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 25vh;
        margin: 0 auto;
        text-align: center;
    }

    .contactBtn{
        color: #DDDDDD;
        border: 1px solid #DDDDDD;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        transition: 0.2s;
        opacity: 0;
        margin: auto 5px auto 5px;
    }

    .contactBtn:hover{
        background-color: #DDDDDD;
        color: #222222;
        opacity: 1 !important;
    }

    .copyright{
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 15vh;
        text-align: center;
        font-size: 8pt;
    }
}

@media screen and (device-aspect-ratio: 1024/768) {

    /* --------------- submarine --------------- */

    .subMarine{
        height: 25px;
        position: fixed;
        z-index: 300;
        bottom: 15vh;
        left: 2vw;
        opacity: 0;
    }

    /* --------------- heropage --------------- */

    .heroPage{
        height: 100vh;
        width: 100vw;
        background: #000000;
        color: #FFFFFF;
        background-image: url(../images/heroPage.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        position: relative;
    }

    .airSpace{
        position: absolute;
        width: 100vw;
        top: 5vh;
        z-index: 0;
    }

    .plane{
        min-height: 20px;
        max-height: 30px;
        z-index: 0 !important;
        position: absolute;
        top: 5px;
    }

    .cloud1{
        height: 70px;
        z-index: 100 !important;
    }

    .cloud2{
        height: 70px;
        z-index: 200 !important;
    }

    .ship1{
        position: absolute;
        height: 40px;
        bottom: 38vh;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .heroContent{
        width: 100vw;
        height: 100vh;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }

    #animation_container{
        height: 100vh !important;
    }

    .diveButton{
        width: 100px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 15vh;
        margin: 0 auto;
        text-align: center;
        border: 1px solid #DDDDDD;
        padding: 10px;
        color: #DDDDDD;
        cursor: pointer;
        opacity: 0;
        font-size: 10pt;
    }

    .diveButton:hover{
        color: #222222;
        background-color: #DDDDDD;
        opacity: 1 !important;
    }
}